@font-face {
    font-family: 'Core Sans G';
    src: url('CoreSansG-ExtraBold.woff2') format('woff2'),
        url('CoreSansG-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Core Sans G';
    src: url('CoreSansG-Bold.woff2') format('woff2'),
        url('CoreSansG-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Core Sans G';
    src: url('CoreSansG-Medium.woff2') format('woff2'),
        url('CoreSansG-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Core Sans G';
    src: url('CoreSansG-Regular.woff2') format('woff2'),
        url('CoreSansG-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Core Sans G';
    src: url('CoreSansG-Light.woff2') format('woff2'),
        url('CoreSansG-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

